<div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Employee First Name</th>
					<th>Employee Last Name</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each data}}
					<tr>
						<td>{{this.eFirstName}}</td>
						<td>{{this.eLastName}}</td>
						<td></td>
						</td>
						<td>
							<a href="/employees/edit/{{this.id}}">Edit</a>
							<a href="/employees/delete/{{this.id}}">Delete</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
			<tfooter>
				<tr><td>
				<button class="btn btn-primary" 
						onClick="addEmployee();">Add</button>
				</td><td></td><td></td><td></td></tr>
			</tfooter>
		</table>
	</div>
</div>
